In [1]:
import os
import openai
from langchain.llms import AzureOpenAI
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase
from dotenv import load_dotenv

load_dotenv()

True

In [6]:
llm = AzureOpenAI(
    openai_api_base=os.getenv('OPENAI_API_BASE'),
    openai_api_version=os.getenv("OPENAI_API_VERSION"),
    deployment_name='gpt-35-turbo-instruct',
    openai_api_key=os.getenv("OPENAI_API_KEY"),
    openai_api_type=os.getenv("OPENAI_API_TYPE"),
    temperature = 0.3
)

In [7]:
database_user = os.getenv("DATABASE_USERNAME")
database_password = os.getenv("DATABASE_PASSWORD")
database_server = os.getenv("DATABASE_SERVER")
database_db = os.getenv("DATABASE_DB")

connection_string = f"mssql+pymssql://{database_user}:{database_password}@{database_server}.database.windows.net:1433/{database_db}"

db = SQLDatabase.from_uri(connection_string, schema='SalesLT')
toolkit = SQLDatabaseToolkit(db=db, llm=llm, reduce_k_below_max_tokens=True)

In [7]:
toolkit.get_tools()

[QuerySQLDataBaseTool(name='sql_db_query', description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', using sql_db_schema to query the correct table fields.", args_schema=None, return_direct=False, verbose=False, callbacks=None, callback_manager=None, tags=None, metadata=None, handle_tool_error=False, db=<langchain.utilities.sql_database.SQLDatabase object at 0x000002BD2EB1BFA0>),
 InfoSQLDatabaseTool(name='sql_db_schema', description="Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: 'table1, table2, table3'", args_schema=None, return_direct=False, verbose=False, callbacks=None, callback_manager=None, tags=None, metadata=None, handle_tool_error=False, db=<langchain.utilities.sql_database.SQLDatabase object at 0x000002BD2EB1BFA0>),
 ListSQLDatabaseTool(name='sql_db_list_tables', description='Input is an empty string, output is a comma separated list of tables in the database.', args_schema=None, return_direct=False, verbose=False, callbacks=None, callback_manager=None, tags=None, metadata=None, handle_tool_error=False, db=<langchain.utilities.sql_database.SQLDatabase object at 0x000002BD2EB1BFA0>),
 QuerySQLCheckerTool(name='sql_db_query_checker', description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', args_schema=None, return_direct=False, verbose=False, callbacks=None, callback_manager=None, tags=None, metadata=None, handle_tool_error=False, db=<langchain.utilities.sql_database.SQLDatabase object at 0x000002BD2EB1BFA0>, template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: ', llm=AzureOpenAI(client=<class 'openai.api_resources.completion.Completion'>, openai_api_key='2e2ff0dc5c3b4e5bafa4c15b068861d3', openai_api_base='https://openai-aia-sbx-eastus.openai.azure.com/', openai_organization='', openai_proxy='', deployment_name='gpt-35-turbo-instruct', openai_api_type='azure', openai_api_version='2023-07-01-preview'), llm_chain=LLMChain(prompt=PromptTemplate(input_variables=['query', 'dialect'], template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=AzureOpenAI(client=<class 'openai.api_resources.completion.Completion'>, openai_api_key='2e2ff0dc5c3b4e5bafa4c15b068861d3', openai_api_base='https://openai-aia-sbx-eastus.openai.azure.com/', openai_organization='', openai_proxy='', deployment_name='gpt-35-turbo-instruct', openai_api_type='azure', openai_api_version='2023-07-01-preview')))]

In [8]:
agent_executor = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True
)

In [5]:
agent_executor.run("How many people are there?")

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input:
Observation: Address, Customer, CustomerAddress, Product, ProductCategory, ProductDescription, ProductModel, ProductModelProductDescription, SalesOrderDetail, SalesOrderHeader
Thought: There are a lot of tables in this database.  I should look at the schema of some of the tables to see if I can find information about people.
Action: sql_db_schema
Action Input: Address, Customer
Observation:
CREATE TABLE [SalesLT].[Address] (
	[AddressID] INTEGER NOT NULL IDENTITY(1,1),
	[AddressLine1] NVARCHAR(60) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[AddressLine2] NVARCHAR(60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[City] NVARCHAR(30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[StateProvince] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CountryRegion] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PostalCode] NVARCHAR(15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	rowguid UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()),
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_Address_AddressID] PRIMARY KEY ([AddressID])
)

/*
3 rows from Address table:
AddressID	AddressLine1	AddressLine2	City	StateProvince	CountryRegion	PostalCode	rowguid	ModifiedDate
9	8713 Yosemite Ct.	None	Bothell	Washington	United States	98011	268af621-76d7-4c78-9441-144fd139821a	2006-07-01 00:00:00
11	1318 Lasalle Street	None	Bothell	Washington	United States	98011	981b3303-aca2-49c7-9a96-fb670785b269	2007-04-01 00:00:00
25	9178 Jumping St.	None	Dallas	Texas	United States	75201	c8df3bd9-48f0-4654-a8dd-14a67a84d3c6	2006-09-01 00:00:00
*/


CREATE TABLE [SalesLT].[Customer] (
	[CustomerID] INTEGER NOT NULL IDENTITY(1,1),
	[NameStyle] BIT NOT NULL DEFAULT ((0)),
	[Title] NVARCHAR(8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FirstName] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[MiddleName] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LastName] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Suffix] NVARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CompanyName] NVARCHAR(128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SalesPerson] NVARCHAR(256) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EmailAddress] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Phone] NVARCHAR(25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PasswordHash] VARCHAR(128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PasswordSalt] VARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	rowguid UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()),
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_Customer_CustomerID] PRIMARY KEY ([CustomerID])
)

/*
3 rows from Customer table:
CustomerID	NameStyle	Title	FirstName	MiddleName	LastName	Suffix	CompanyName	SalesPerson	EmailAddress	Phone	PasswordHash	PasswordSalt	rowguid	ModifiedDate
1	False	Mr.	Orlando	N.	Gee	None	A Bike Store	adventure-works\pamela0	orlando0@adventure-works.com	245-555-0173	L/Rlwxzp4w7RWmEgXX+/A7cXaePEPcp+KwQhl2fJL7w=	1KjXYs4=	3f5ae95e-b87d-4aed-95b4-c3797afcb74f	2005-08-01 00:00:00
2	False	Mr.	Keith	None	Harris	None	Progressive Sports	adventure-works\david8	keith0@adventure-works.com	170-555-0127	YPdtRdvqeAhj6wyxEsFdshBDNXxkCXn+CRgbvJItknw=	fs1ZGhY=	e552f657-a9af-4a7d-a645-c429d6e02491	2006-08-01 00:00:00
3	False	Ms.	Donna	F.	Carreras	None	Advanced Bike Components	adventure-works\jillian0	donna0@adventure-works.com	279-555-0130	LNoK27abGQo48gGue3EBV/UrlYSToV0/s87dCRV7uJk=	YTNH5Rw=	130774b1-db21-4ef3-98c8-c104bcd6ed6d	2005-09-01 00:00:00
*/
Thought: I found the tables containing information about people.  I should query these tables for the number of people.
Action: sql_db_query
Action Input: SELECT COUNT(*) FROM SalesLT.Customer
Observation: [(847,)]
Thought: I now know the final answer
Final Answer: There are 847 people in the database.

> Finished chain.

'There are 847 people in the database.'

In [10]:
agent_executor.run("How much money did each customer spend?")

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input:
Observation: Address, Customer, CustomerAddress, Product, ProductCategory, ProductDescription, ProductModel, ProductModelProductDescription, SalesOrderDetail, SalesOrderHeader
Thought: I should query the schema for the Customer and SalesOrderHeader tables.
Action: sql_db_schema
Action Input: Customer, SalesOrderHeader
Observation:
CREATE TABLE [SalesLT].[Customer] (
	[CustomerID] INTEGER NOT NULL IDENTITY(1,1),
	[NameStyle] BIT NOT NULL DEFAULT ((0)),
	[Title] NVARCHAR(8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FirstName] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[MiddleName] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LastName] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Suffix] NVARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CompanyName] NVARCHAR(128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SalesPerson] NVARCHAR(256) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EmailAddress] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Phone] NVARCHAR(25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PasswordHash] VARCHAR(128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PasswordSalt] VARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	rowguid UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()),
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_Customer_CustomerID] PRIMARY KEY ([CustomerID])
)

/*
3 rows from Customer table:
CustomerID	NameStyle	Title	FirstName	MiddleName	LastName	Suffix	CompanyName	SalesPerson	EmailAddress	Phone	PasswordHash	PasswordSalt	rowguid	ModifiedDate
1	False	Mr.	Orlando	N.	Gee	None	A Bike Store	adventure-works\pamela0	orlando0@adventure-works.com	245-555-0173	L/Rlwxzp4w7RWmEgXX+/A7cXaePEPcp+KwQhl2fJL7w=	1KjXYs4=	3f5ae95e-b87d-4aed-95b4-c3797afcb74f	2005-08-01 00:00:00
2	False	Mr.	Keith	None	Harris	None	Progressive Sports	adventure-works\david8	keith0@adventure-works.com	170-555-0127	YPdtRdvqeAhj6wyxEsFdshBDNXxkCXn+CRgbvJItknw=	fs1ZGhY=	e552f657-a9af-4a7d-a645-c429d6e02491	2006-08-01 00:00:00
3	False	Ms.	Donna	F.	Carreras	None	Advanced Bike Components	adventure-works\jillian0	donna0@adventure-works.com	279-555-0130	LNoK27abGQo48gGue3EBV/UrlYSToV0/s87dCRV7uJk=	YTNH5Rw=	130774b1-db21-4ef3-98c8-c104bcd6ed6d	2005-09-01 00:00:00
*/


CREATE TABLE [SalesLT].[SalesOrderHeader] (
	[SalesOrderID] INTEGER NOT NULL DEFAULT (NEXT VALUE FOR [SalesLT].[SalesOrderNumber]),
	[RevisionNumber] TINYINT NOT NULL DEFAULT ((0)),
	[OrderDate] DATETIME NOT NULL DEFAULT (getdate()),
	[DueDate] DATETIME NOT NULL,
	[ShipDate] DATETIME NULL,
	[Status] TINYINT NOT NULL DEFAULT ((1)),
	[OnlineOrderFlag] BIT NOT NULL DEFAULT ((1)),
	[SalesOrderNumber] AS ((isnull(N'SO'+CONVERT([nvarchar](23),[SalesOrderID],(0)),N'*** ERROR ***'))) NOT NULL,
	[PurchaseOrderNumber] NVARCHAR(25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AccountNumber] NVARCHAR(15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CustomerID] INTEGER NOT NULL,
	[ShipToAddressID] INTEGER NULL,
	[BillToAddressID] INTEGER NULL,
	[ShipMethod] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CreditCardApprovalCode] VARCHAR(15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SubTotal] MONEY NOT NULL DEFAULT ((0.00)),
	[TaxAmt] MONEY NOT NULL DEFAULT ((0.00)),
	[Freight] MONEY NOT NULL DEFAULT ((0.00)),
	[TotalDue] AS ((isnull(([SubTotal]+[TaxAmt])+[Freight],(0)))) NOT NULL,
	[Comment] NVARCHAR(max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	rowguid UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()),
	[ModifiedDate] DATETIME NOT NULL DEFAULT (getdate()),
	CONSTRAINT [PK_SalesOrderHeader_SalesOrderID] PRIMARY KEY ([SalesOrderID]),
	CONSTRAINT [FK_SalesOrderHeader_Address_BillTo_AddressID] FOREIGN KEY([BillToAddressID]) REFERENCES [SalesLT].[Address] ([AddressID]),
	CONSTRAINT [FK_SalesOrderHeader_Address_ShipTo_AddressID] FOREIGN KEY([ShipToAddressID]) REFERENCES [SalesLT].[Address] ([AddressID]),
	CONSTRAINT [FK_SalesOrderHeader_Customer_CustomerID] FOREIGN KEY([CustomerID]) REFERENCES [SalesLT].[Customer] ([CustomerID])
)

/*
3 rows from SalesOrderHeader table:
SalesOrderID	RevisionNumber	OrderDate	DueDate	ShipDate	Status	OnlineOrderFlag	SalesOrderNumber	PurchaseOrderNumber	AccountNumber	CustomerID	ShipToAddressID	BillToAddressID	ShipMethod	CreditCardApprovalCode	SubTotal	TaxAmt	Freight	TotalDue	Comment	rowguid	ModifiedDate
71774	2	2008-06-01 00:00:00	2008-06-13 00:00:00	2008-06-08 00:00:00	5	False	SO71774	PO348186287	10-4020-000609	29847	1092	1092	CARGO TRANSPORT 5	None	880.3484	70.4279	22.0087	972.7850	None	89e42cdc-8506-48a2-b89b-eb3e64e3554e	2008-06-08 00:00:00
71776	2	2008-06-01 00:00:00	2008-06-13 00:00:00	2008-06-08 00:00:00	5	False	SO71776	PO19952192051	10-4020-000106	30072	640	640	CARGO TRANSPORT 5	None	78.8100	6.3048	1.9703	87.0851	None	8a3448c5-e677-4158-a29b-dd33069be0b0	2008-06-08 00:00:00
71780	2	2008-06-01 00:00:00	2008-06-13 00:00:00	2008-06-08 00:00:00	5	False	SO71780	PO19604173239	10-4020-000340	30113	653	653	CARGO TRANSPORT 5	None	38418.6895	3073.4952	960.4672	42452.6519	None	a47665d2-7ac9-4cf3-8a8b-2a3883554284	2008-06-08 00:00:00
*/
Thought: I should query the SalesOrderHeader table to get the total amount spent by each customer.
Action: sql_db_query
Action Input: SELECT CustomerID, SUM(TotalDue) AS TotalSpent FROM SalesOrderHeader GROUP BY CustomerID ORDER BY TotalSpent DESC LIMIT 10
Observation: Error: (pymssql._pymssql.ProgrammingError) (102, b"Incorrect syntax near 'LIMIT'.DB-Lib error message 20018, severity 15:\nGeneral SQL Server error: Check messages from the SQL Server\n")
[SQL: SELECT CustomerID, SUM(TotalDue) AS TotalSpent FROM SalesOrderHeader GROUP BY CustomerID ORDER BY TotalSpent DESC LIMIT 10]
(Background on this error at: https://sqlalche.me/e/14/f405)
Thought: I should use the TOP keyword instead of LIMIT to limit the results.
Action: sql_db_query
Action Input: SELECT TOP 10 CustomerID, SUM(TotalDue) AS TotalSpent FROM SalesOrderHeader GROUP BY CustomerID ORDER BY TotalSpent DESC
Observation: Error: (pymssql._pymssql.ProgrammingError) (208, b"Invalid object name 'SalesOrderHeader'.DB-Lib error message 20018, severity 16:\nGeneral SQL Server error: Check messages from the SQL Server\n")
[SQL: SELECT TOP 10 CustomerID, SUM(TotalDue) AS TotalSpent FROM SalesOrderHeader GROUP BY CustomerID ORDER BY TotalSpent DESC]
(Background on this error at: https://sqlalche.me/e/14/f405)
Thought: I should check the spelling of the table name.
Action: sql_db_query
Action Input: SELECT TOP 10 CustomerID, SUM(TotalDue) AS TotalSpent FROM SalesOrderHeader GROUP BY CustomerID ORDER BY TotalSpent DESC
Observation: Error: (pymssql._pymssql.ProgrammingError) (208, b"Invalid object name 'SalesOrderHeader'.DB-Lib error message 20018, severity 16:\nGeneral SQL Server error: Check messages from the SQL Server\n")
[SQL: SELECT TOP 10 CustomerID, SUM(TotalDue) AS TotalSpent FROM SalesOrderHeader GROUP BY CustomerID ORDER BY TotalSpent DESC]
(Background on this error at: https://sqlalche.me/e/14/f405)
Thought: I should check the spelling of the table name.
Action: sql_db_query
Action Input: SELECT TOP 10 CustomerID, SUM(TotalDue) AS TotalSpent FROM SalesLT.SalesOrderHeader GROUP BY CustomerID ORDER BY TotalSpent DESC
Observation: [(29736, Decimal('119960.8240')), (30050, Decimal('108597.9536')), (29546, Decimal('98138.2131')), (29957, Decimal('92663.5609')), (29796, Decimal('86222.8072')), (29929, Decimal('81834.9826')), (29932, Decimal('70698.9922')), (29660, Decimal('63686.2708')), (29938, Decimal('45992.3665')), (29485, Decimal('43962.7901'))]
Thought: I now know the final answer
Final Answer: [(29736, Decimal('119960.8240')), (30050, Decimal('108597.9536')), (29546, Decimal('98138.2131')), (29957, Decimal('92663.5609')), (29796, Decimal('86222.8072')), (29929, Decimal('81834.9826')), (29932, Decimal('70698.9922')), (29660, Decimal('63686.2708')), (29938, Decimal('45992.3665')), (29485, Decimal('43962.7901'))]

> Finished chain.

"[(29736, Decimal('119960.8240')), (30050, Decimal('108597.9536')), (29546, Decimal('98138.2131')), (29957, Decimal('92663.5609')), (29796, Decimal('86222.8072')), (29929, Decimal('81834.9826')), (29932, Decimal('70698.9922')), (29660, Decimal('63686.2708')), (29938, Decimal('45992.3665')), (29485, Decimal('43962.7901'))]"